/*
/* Reset básico para remover margens e espaçamentos padrões do navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Inclui borda e padding no cálculo do tamanho */
}

/* Importando a fonte outfit */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Corpo da página */
body {
  font-family: Outfif, Arial, Helvetica, sans-serif; /* Fonte limpa e fácil de ler */
  background-color: var(--body-color); /* Cor de fundo suave */
  color: var(--text-color); /* Texto em tom cinza escuro para melhor leitura */
  line-height: 1.6; /* Espaçamento entre linhas para leitura confortável */
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Faz o body ocupar toda a altura da tela */
}

/* padrão de cor */
:root {
  --primary-color: #5c56a8;   /* Azul forte */
  --secondary-color: #01bdb2; /* Verde de destaque */
  --text-color: #333;
  --bg-color: #ffffff;
  --body-color: #f5f5f5;
}

/* Cabeçalho */
header {
  background-color: var(--b); /* Azul inspirado no Philips */
  color: var(--secondary-color); /* Texto branco */
  padding: 1rem 2rem; /* Espaçamento interno */
}

/* Título no cabeçalho */
div {
  background: var(--bg-color);
  
}

/* Tamanho da logo */
.logo img {
  height: 50px; /* ajusta conforme sua logo */
  width: auto;
}

h1 {
  background: var(--primary-color);
  color: var(--secondary-color); /* Azul padrão site */
  margin-bottom: 0.5rem;
}
/* Conteúdo principal */
main {
  flex: 1; /* Faz o main crescer para ocupar o espaço livre */
  max-width: 800px; /* Limita a largura */
  margin: 2rem auto; /* Centraliza na tela */
  background: var(--bg-color); /* Fundo branco */
  padding: 2rem; /* Espaçamento interno */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
  text-align: center; /* alinha o texto ao centro */
}

/* Títulos dentro do main */
main h2, main h3 {
  color: var(--primary-color); /* Azul padrão site */
  margin-bottom: 0.5rem;
}

/* Parágrafos */
main p {
  margin-bottom: 1rem;
}

/* Lista de orientações */
main ul {
  margin-bottom: 2rem;
  padding-left: 1.2rem; /* Espaço para os marcadores */
}

main li {
  margin-bottom: 0.5rem;
}

/* Botão iniciar teste */
#start-test {
  background-color: var(--secondary-color); /* verde padrão site */
  color: var(--bg-color);
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

#start-test:hover {
  background-color: var(--primary-color); /* Azul mais escuro no hover */
}

/* Rodapé */
footer {
  background-color: var(--primary-color);
  color: var(--bg-color);
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}

/* Responsividade para telas menores */
@media (max-width: 600px) {
 

  main {
    margin: 1rem;
    padding: 1.5rem;
  }
}
